<link rel="stylesheet" href="styles/header.css">
<header class="navbar">
    <h1>Tramvajske stanice</h1>
    <nav>
        <a href="/">PoÄetna</a>
        <a href="/search">Pretraga</a>
    </nav>
</header>